
* {
box-sizing: border-box;
}

body {
font-size: 20px;
max-width: 1280px;
margin: auto;
padding: 1em;
}

img {
max-width: 100%;
}

.media-card {
    display: flex;
    gap: 20px;
    flex-direction: column;

}

.media-card-content p {
    display: none; 
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery section {
    flex: 1 1 460px;
}

.main-nav {
list-style-type: none;
display: flex;
gap: 2em;
background-color: bisque;
/* height: 100px; */
align-items: center;
justify-content: end;
/* padding-right: 50px; */
}

hr{
margin-top: 50px;
}
              
@media screen and (min-width: 550px){
    .main-nav {
        flex-direction: row;
        justify-content: end;
    }
    .media-card {
        flex-direction: row;
    }
    .media-card-content p {
        display: block;
    }
}