body {
    background-color: #ddd;
    font-size: 20px;
}

#content {
    max-width: 900px;
    margin: 0 auto;
    border: 1px solid darkgrey;
    padding: 50px;
}

p {
    color: #035f9c;
    font-size: 1.3em;
}


hr {
    height: 2px;
    background-color: #035f9c;
    width: 80%;
}

h1, h2, p {
    text-align: center;
}


#topics {
    width: 55%;
    margin: 0 auto;
    line-height: 1.5em;
}

/* 
li {
    text-align: center;
} */

img {
    display: block;
    margin: 0 auto;
    width: 50%;
}

.list {
    list-style: none;
}


